<link rel="stylesheet" href="./styles/pure-min.css" />
<style>
    div {
        width: 100%
    }
    table {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div>
    <table class="pure-table pure-table-striped">
        <caption>${model}</caption>
        <thead>
            <tr>
                <th class="right">Id</th>
                <th>Title</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>