<style>
    fieldset {
        display: flex
    }

    span {
        flex-grow: 1;
    }

    button {
        margin: 0.5rem;
    }
</style>

<div class="container">
    <div class="pure-form">
        <fieldset>
            <legend>Start / Stop a timer to change the "completed" state of a random todo (10 times a second)</legend>
            <span></span>
            <button id="start" class="pure-button pure-button-primary" ${model.startButtonDisabled}>
                Start...
            </button>
            <button id="stop" class="pure-button pure-button" ${model.stopButtonDisabled}>
                Stop
            </button>
            <span></span>
        </fieldset>
    </div>
    <dialog aria-labelledby="msg-title">
        <h2 id="msg-title">Are you sure?</h2>
        <p>
            A timer will be started that changes the completion state of random elements
        </p>
        <form method="dialog" class="pure-form">
            <footer>
                <button type="submit" name="start" class="pure-button pure-button-primary">
                    Yes
                </button>
                <button type="submit" name="cancel" class="pure-button pure-button">
                    Cancel
                </button>
            </footer>
        </form>
    </dialog>

</div>